BasedOnStyle: Google
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 100
AccessModifierOffset: -1
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IncludeBlocks: Regroup
IndentWidth: 2
NamespaceIndentation: None
SpacesBeforeTrailingComments: 2
Standard: c++17
TabWidth: 2
UseTab: Never 